.widegts-image-field {
  display: flex;
}

.img-large {
  width: 100%;
}

.widegts-image-field .image-uploader .ant-upload.ant-upload-select-picture-card {
  width: 130px;  
  height: 130px;  
  overflow: hidden;
}

.widegts-image-field .image-uploader .ant-upload.ant-upload-select-picture-card > .ant-upload {
  width: 100%;
}

.widegts-image-field .image-uploader .ant-upload {
  position: relative;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.widegts-image-field .image-uploader .actions {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 1px;
  margin-right: 0 !important;
  padding : 0;
  color: white;
  display: none;
  justify-content: space-between;
}

.widegts-image-field .image-uploader .actions .button {
  width: 45%;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(0, 0, 0, 0.5);
}
